﻿#avatar {
    position: absolute;
    left: 100px;
    top: 1px;
}

@font-face {
    font-family: myFont;
    src: url(Attentica-4F-UltraLight.woff);
}
body {
    background: url('white-cubes.png');
    font-family: myFont;
    font-size:20px;
}

#profile {
    margin: 50px 220px;
    padding: 10px 40px 15px 40px;
    font-family: myFont;
    opacity: 0.7;
    background: white;
    text-align: center;
    position: relative;
    border: 5px double DarkGrey;
    border-right: none;
    border-left: none;
}

.profile_title {
    text-shadow: 2px 2px 2px Grey;
    color: black;
    font-size: 70px;
}

#info {
    margin:70px 70px 5px;
    background: white;
    height: 490px;
    font-stretch: ultra-expanded;
}

#left_info {
    float: left;
    width: 45%;
    margin-left:15px;
}
#right_info {
   
    float: right;
    width: 50%;
    margin-right: 15px;
}

table{
    margin: 20px 10px 20px 40px;
}

.info_section {
    margin: 20px;
}

ul {
    list-style-image: url('marker.gif');
}
.info_title {
    opacity: 0.7;
    border-radius: 15px;
    text-shadow: 2px 2px 2px black;
    text-align: center;
    background: DarkGrey;
    font-size: 30px;
    color: white;
    width: 100%;
    display: inline-block;
}

#contacts {
    text-align: center;
    margin-left:29%;
    padding: 10px;
    display: inline-block;
    border: 2px dashed DarkGrey;
}

.contacts_title {
    font-size: 30px;
}

